*{
  box-sizing: border-box;
}

body,html{
  background-color: #fafafa ;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
  max-width: 1008px;
  flex-wrap: nowrap;
  margin: 1rem auto; 
  display: flex;
  justify-content: center;
}

.topbar{
  box-shadow: 1px 1px 5px #cccccc;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5rem ;
  height: 2rem;
}

#toop{
  font-size: 2rem;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#container-one{
  background-color: #fff;
  border: 1px solid black;
  padding: 20px;
  display: block;
  text-align: center;
  width: 45%;
  height: 50%;
  margin:5vh;
}

#container-two{
  background-color: #fff;
  border: 1px solid black;
  padding: 20px;
  display: block;
  width: 45%;
  height: 55%;
  text-align: center;
  margin:5vh;
}

input{
  text-align: center;
  margin: 10px;
  padding:8px;
}

#button-one{
  margin-right: 10px;
}

#button-two{
  margin-left: 10px;
}

button{
  background-color: #ff8405;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  width: auto;
  height: auto;
  border-radius: 0.6rem;
  margin-top: 1rem;
  color: #fff;
}

button:hover{
  background-color: #ff8205a8;
  cursor: pointer;
  
}

#container h1 {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
}

input{
  outline: none;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  #container{
    max-width: 600px;
    width: 100%;
  }
  #container-one, #container-two{
    width: 80%;
    border: none;
    box-shadow: 1px 2px 6px -1px #cccccc; 
  }
  #container{
    display: block;
  }

  .topbar{
    text-align: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction:column-reverse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5rem ;
    height: 2rem;
  }

  #toop{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }   
}